@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

.logo {
  width: 30vw;
}

.header {
  background-color: #4C061D;
  color: white;
  height: 100%;
}

.header__logo {
  text-align: center;
}

.nav__item {
  text-align: center;
  font-size: 3vw;
  padding: 0.5vw;
}

/* ---BARRA DE NAVEGACION--- */
.contenedor {
  background-color: #4C061D;
  display: grid;
  height: 15vh;
  grid-template-columns: repeat(6, minmax(auto, 1fr));
  justify-items: center;
  align-items: center;
}

.enlace__lista {
  text-decoration: none;
  color: white;
}

.caja-contacto {
  color: black;
  text-decoration: none;
}

.contenedor-m {
  background-color: #4C061D;
  height: 15vh;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.titulo__contacto {
  background-color: black;
  height: 20vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 100px;
}

.domicilio__fondo {
  width: 100%;
}

.img__fondo {
  width: 100%;
  height: 90vh;
}

.separador {
  height: 10vw;
  background-color: gray;
}

.cuadrito {
  background-color: white;
  color: black;
  border-radius: 100px;
}

.letrero {
  background-color: #4C061D;
  font-family: "Food packer";
  font-size: 4vw;
  color: yellow;
  text-align: center;
}

.chef {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.fondo__home {
  width: 100%;
  height: 40%;
}

.subtexto__small {
  font-size: 4vw;
  text-align: center;
  font-family: "sigmar";
  color: black;
}

.borde {
  border: 2vw coral solid;
  margin: 3vw;
  padding: 5vw;
}

.subtitulo {
  color: yellow;
  font-family: "Food packer";
  font-size: 5vw;
}

.subtexto__lista {
  text-align: start;
  list-style: decimal;
}

.upromo {
  background-color: navy;
  color: orange;
}

.img__menu {
  width: 50vw;
  height: 40vw;
  margin-top: 10%;
  object-fit: cover;
}

.bg__yellow {
  background-color: #ffa500;
  text-align: center;
}

.bg__black {
  background-color: black;
}

.bg__red {
  background-color: #4C061D;
}

.grid__column {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(6, 40vw);
}

.img__jim {
  width: 50%;
  height: 70%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
}

.texto__small {
  font-size: 3vw;
  font-family: "sigmar";
  text-align: center;
}

.subtexto__medium {
  font-size: 10vw;
  font-family: "sigmar";
  text-align: center;
}

.bg__gray {
  background-color: lightgray;
}

.item__horario {
  background-color: black;
  color: white;
}

.grid__ {
  display: grid;
  grid-template-columns: 1 10vw;
  grid-template-rows: repeat(6, 10vw);
  justify-content: center;
  text-align: center;
  align-items: center;
}

.separador__rojo {
  background-color: #4C061D;
  height: 10vw;
}

.img__clase {
  width: 80%;
  margin: 10%;
}

.img__domicilio {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.img__rappi {
  width: 80%;
  margin: 10%;
}

.subtexto__blanco {
  font-size: 4vw;
  text-align: center;
  font-family: "sigmar";
  color: white;
}

.texto__blanco {
  font-size: 15vw;
  color: white;
  margin-left: 5%;
}

.img__flecha {
  width: 30%;
}

.formulario {
  text-align: center;
}

form {
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  font-size: 4vw;
}

input[type=reset] {
  object-fit: cover;
  height: 10%;
}

label {
  margin-bottom: 10px;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  height: 10%;
  padding: 10px;
  border-radius: 5px;
}

.button__form {
  object-fit: cover;
}

.hero-footer {
  background-color: #4C061D;
}

.contenedor__footer {
  display: flex;
  justify-content: space-around;
}

.foot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.footer {
  color: white;
  text-decoration: none;
}

.item__footer {
  color: white;
  text-decoration: none;
  font-size: 3vw;
}

.divf {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-template-rows: 1fr 20px;
}

.conocenos {
  grid-column: 1/3;
  padding: 0pxs;
}

.encuentranos {
  text-align: start;
}

@media (min-width: 400px) and (max-width: 767px) {
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
  .subtexto__small {
    font-size: 2vw;
  }
  .desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .chef__ramsi {
    width: 40%;
    margin: 5%;
  }
  .promo {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  h3.button {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  .img__menu {
    margin: 5%;
  }
  .grid__ {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .s {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .d {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .horario {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .desktop__clase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 40vw);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .img__jim {
    width: 80%;
    margin-left: 10%;
  }
  .clase__texto {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .img__domicilio {
    width: 30%;
  }
  .texto__small {
    font-size: 6vw;
  }
  .img__rappi {
    width: 30%;
    margin: 8%;
  }
  .texto__rappi {
    width: 50%;
    font-size: 8vw;
    margin: 0px;
  }
}
@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10vw;
  }
  .nav__bar {
    display: flex;
    gap: 5vw;
  }
  .nav__item {
    font-size: 1.4vw;
  }
  .logo {
    width: 20vw;
  }
  .desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .subtexto__negro {
    font-size: 3vw;
    text-align: start;
    padding-left: 10%;
  }
  .subtexto__blanco {
    font-size: 3vw;
    text-align: start;
    padding-bottom: 10%;
  }
  .img__domicilio {
    width: 20%;
    margin: 0px;
  }
  section .subtexto__blanco {
    font-size: 6vw;
    text-align: center;
  }
  .experimento {
    display: flex;
    justify-content: space-around;
  }
  .contenedor__footer {
    gap: 10vw;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%);
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .link__redes {
    grid-column: 2/3;
  }
  .formulario {
    font-size: 2vw;
  }
  .bgmobile__black {
    text-align: center;
    padding-bottom: 0%;
    padding-top: 3%;
  }
  .contenedor__mapa {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    align-items: center;
  }
  .mapa {
    width: 100%;
    height: 90%;
    grid-row: 1/3;
  }
  .contenedor__hijo {
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 10%;
  }
  .subtexto__small {
    font-size: 2vw;
  }
  .borde {
    padding: 0.5vw;
    overflow: hidden;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    border: 0.3vw coral solid;
    height: 80%;
  }
  .chef {
    height: 80%;
  }
  .chef__ramsi {
    width: 40%;
    margin: 5%;
  }
  .borde__lista {
    margin: 5%;
    padding-left: 2.5%;
  }
  .dos {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .tres {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .promocion {
    margin: 5%;
    grid-row: 1/3;
  }
  .promo {
    height: 100%;
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .fondo__home {
    height: 50vw;
  }
  .img__menu {
    width: 90%;
    height: 90%;
    margin: 2%;
  }
  h3.button {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  .img__pita {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .img__lumpia {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .img__ramen {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .img__padthai {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .img__mouse {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .img__pie {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .img__homero {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .img__patricio {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .texto__clase {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .grid__ {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .s {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .d {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item__horario {
    margin: 5%;
  }
  .desktop__clase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5vw 1fr;
    justify-content: center;
    align-items: center;
  }
  .clase__texto {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 5vw;
  }
  .jim {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .niño {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 30%;
  }
  .texto__small {
    text-align: start;
    padding-left: 10%;
  }
  .img__rappi {
    width: 20%;
    margin: 0px;
  }
  .texto__rappi {
    width: 30%;
    margin: 0px;
  }
  .texto__blanco {
    font-size: 6vw;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
.button {
  background-color: aqua;
  width: 100%;
}

@font-face {
  font-family: "Food packer";
  src: url("../fonts/foodpack.otf");
}

/*# sourceMappingURL=style.css.map */
