* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ----FONTS--- */
@font-face {
    font-family: "Food packer";
    src: url("../fonts/foodpack.otf");
}

/* ---HEADER--- */
ul li{
    list-style: none ;
}
.logo {
    width: 30vw;
}

.header{
    background-color: #4C061D;
    color: white;
    
}
.header__logo{
    text-align: center;
}
.nav__item{
    text-align: center;
    font-size: 3vw;
    padding: 0.5vw;
}

/* ---BARRA DE NAVEGACION--- */
.contenedor {
    background-color:#4C061D ;
    display: grid;
    height: 15vh;
    grid-template-columns: repeat(6,minmax(auto,1fr)) ;
    justify-items: center;
    align-items: center;
    

}
.enlace__lista{
    text-decoration: none;
    color: white;
    
}
.caja-contacto{
    color: black;
    text-decoration: none;
}

.contenedor-m{
    background-color:#4C061D ;
    height: 15vh;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.titulo__contacto{
    background-color: black;
    height: 20vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 100px;
}
.domicilio__fondo{
    width: 100%;
}
.img__fondo{
    width: 100%;
    height: 90vh;
}
.espacio__fondo{
    
    width: 99vw;
}

.separador{
    height: 50px;
    background-color: gray;
}

.cuadro {
    background-color:white;
    height: 4vh;
    border-radius: 100px;
    width: 6.2vw;
}

/* ---MAIN--- */
.letrero {
    background-color: #4C061D;
    font-family: "Food packer";
    font-size: 40px;
    color: yellow;
    padding-left: 40px;
    display: flex;
    justify-content: center;

}
.img__domicilio{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.subtitulo{
    color: yellow;
    font-family: "Food packer";
    font-size: 5vw;
}
.img__flecha{
    width: 100%;
    padding-left: 10%;
}

.borde {
    border: 10px coral solid;
    margin: 15px;
    width: 250px;
}

.fondo__{
    width: 99VW;
    height: 80vh ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px 100px;
    align-items: center;
    justify-items: center;
}
.fondo__amarillo{
    background-color: #ffa500;
    height: 90vh;
}
.bgmobile__yellow{
    background-color: #ffa500;
    height: 100%;
}
.bgmobile__black{
    background-color: black;
}
.fondo__clase{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 100px 300px;
    align-items: center;
    justify-items: center;
}

.bgmobile__gray{
    background-color: lightgray;
    height: 100%;
}

.fondo__negro{
    background-color: black;
    height: 80vh;
}
.fondo__rojo{
    background-color: #4C061D;
    height: 80vh;
    padding: 15vh;

}

.button__{
    background-color: aqua;
    padding: 20px;
}
.button__black{
    background-color: black;
    color: white;
    border: 20px black solid;
}
.estructura__grid{
    display: grid;
    height: 50vh;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center;
}
.estructura__flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.estructura__texto{
    margin: 50px;
}
.estructura__color{
    color: white;
}

.img__menu{
    height: 200px;
    width: 350px;
}

.button__gyoza{
    grid-row: 2/3;
}
.button__pita{
    grid-row: 2/3;
    grid-column: 2/3;
}

.button__arroz{
    grid-row: 2/3;
}
.button__pad{
    grid-column: 2/3;
    grid-row: 2/3;
}

.button__tiramisu{
    grid-row: 2/3;
}
.button__pie{
    grid-row: 2/3;
}

.img__menuhomero{
    grid-column: 1/2;
    grid-row: 2/3;
}
.img__menupatricio{
    grid-column: 2/3;
    grid-row: 2/3;
}
.div__img{
    width: 95%;
}

.img__rappi{
    width: 80%;
    margin: 10%;

}

.font__texto{
    font-family: "sigmar";
}
.font__color{
    background-color: #ffa500;
}

.font__size{
    font-size: 20px;
    padding-left: 50px;
}
.texto__direccion{
    text-align: center;
}
.size__texto{
    font-size: 8vw;
}
.subtexto__blanco{
    font-size: 8vw;
    text-align: center;
    font-family: "sigmar";
    color: white;
}
.subtexto__negro{
    font-size: 8vw;
    text-align: center;
    font-family: "sigmar";
    color: black;
}

.formulario{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3vw;
}

#ulti-act {
    background-color: darkblue;
    color: orange;
}


.chef1 {
    width: 337px;
    height: 300px;
}

.chef2 {
    height: 300px;
    width: 404px;
}

.chef3 {
    height: 300px;
    width: 353px;
}

.cheff {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px;
}


.txt-1 {
    padding: 10px;
    border: 10px coral solid;
    margin: 15px;
    width: 300px;
    height: 120px;

}

.txt-2 {
    padding: 10px;
    border: 10px coral solid;
    width: 300px;
    margin: 15px;
    height: 120px;

}

.txt-3 {
    padding: 10px;
    border: 10px coral solid;
    margin: 15px;
    width: 300px;
    height: 120px;
}

.txt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "sigmar";
}

.nm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.caja-nm {
    border: 15px coral solid;
    display: flex;
}

.txt-nm {
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "sigmar";
}

.miche {
    width: 375px;
    height: 300px;
    display: flex;
    padding: 20px;

}

.upromo {
    font-family: "Food packer";
}

.caja-ulti {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.ulti {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: "sigmar";
    width: 500px;
    height: 200px;
    
}

.superp {
    height: 300px;
    width: 353px;
}

/* ---FOOTER--- */
.hero-footer {
    background-color: #4C061D;
}
.contenedor__footer{
    display: flex;
    justify-content: space-around;
}

.foot {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
}

.footer {
    color: white;
    text-decoration: none;   

}
.item__footer{
    color: white;
    text-decoration: none;
    font-size: 3vw;
    
}

.divf {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    grid-template-rows: 1fr 20px;
}

.conocenos{
    grid-column: 1/3;
    padding: 0pxs;
}
.encuentranos{
    text-align: start;
}
.button__form{
    width: 40%;
}


@media(min-width:400px){
    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10vw;
    }
    .nav__bar{
        display: flex;
        gap: 5vw;
    }
    .nav__item{
        font-size: 1.4vw;
    }
    .logo{
        width: 20vw;
    }
    .desktop{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .subtexto__negro{
        font-size: 3vw;
        text-align: start;
        padding-left: 10%;
    }
    .subtexto__blanco{
        font-size: 3vw;
        text-align: start;
        padding-bottom: 10%;
    }
    .img__domicilio{
        width: 35%;
    }
    .img__rappi{
        width: 25%;
        margin: 5%;
    }
    section .subtexto__blanco{
        font-size: 6vw;
        text-align: center;
    }
    .experimento{
        display: flex;
        justify-content: space-around;
    }
    .contenedor__footer{
        gap: 10vw;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: start;
        gap: 0px;
    }
    .link__redes{
        grid-column: 2/3;
    }
    .formulario{
        font-size: 2vw;
    }
    .bgmobile__black{
        text-align: center;
        padding-bottom: 0%;
        padding-top: 3%;
    }
    .contenedor__mapa{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(2,50%);
        align-items: center;
    }
    .mapa{
        width: 100%;
        height: 90%;
        grid-row: 1/3;
    }
    .contenedor__hijo{
        grid-column: 2/3;
        grid-row: 1/3;
        padding: 10%;
    }
}