.img__domicilio{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.img__rappi{
    width: 80%;
    margin: 10%;

}
.subtexto__blanco{
    font-size: 4vw;
    text-align: center;
    font-family: "sigmar";
    color: white;
}
.texto__blanco{
    font-size: 15vw;
    color: white;
    margin-left: 5%;
}